:root {
  --primary-color: #FFC94A;
  --secondary-color: #C08B5C;
  --ternary-color: #795458;
  --quaternary-color: #453F78;
  --accent-color: #FF914D;
  --light-color: #fafbfd;
  --bg-color: antiquewhite;
  --loader-animation-speed: 0.75s;
}